* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;

    height:100vh;
    width: 100vw;
}

main {
    display: flex;
    text-align: center;
    height: 95vh;
    width: 95vw;
    margin: auto;
}

main input {
    margin: auto;
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin: auto;   
}

main input:hover {
    background-color: grey;
}

main input:active {
    background-color: lightgrey;
}

